*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #050241;
    height: 100vh;
}

.container{
    background: white;
    width: 40%;
    height: 40%;
    border: 1px solid black;
    border-radius: 15px;
    /* place-content: center; */
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .3s ease-in-out;
}
.container:hover{
    transform: scale(1.01);
    border: 5px solid rgb(5, 5, 6);
    box-shadow: 0px 0px 30px #b5b4cf;
}
.quote{
    /* border: 3px solid black; */
    height: 90%;
    width: 90%;
}

.quote-text{
    /* border: 2px solid black; */
    margin: 10px 10px 0 10px;
    padding: 10px;
    height: 70%;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.quote-author{
    font-size: 18px;
    display: flex;
    justify-content: end;
    margin-right: 25px;
    margin-bottom: 25px;
    margin-top: -15px;
}

.btns{
    display: flex;
}
a{
    text-decoration: none;
}
.click{
    margin: 10px 15px;
}

.clickbtn{
    margin-left: 270px;
}
button{
    width: 100px;
    height: 30px;
    border-radius: 5px;
    font-size: 15px  ;
    cursor: pointer;
    transition: all .5s ease;
}

button:hover{
    background-color: darkblue;
    color: white;
    transform: scale(1.1);
}
.logo{
    width: 40px;
    height: 40px;
    cursor: pointer;
    margin-top: -10px;
}